<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<typeAlias alias="MemberDTO" type="ysi.spring.dept.dto.MemberDTO" />
<typeAlias alias="PetDTO" type="ysi.spring.pet.dto.PetDTO" />

</typeAliases>

</configuration>
